router ospf 1


{% for interface in item.interfaces %}
interface {{ interface.interface_id }}
no sw
description {{ interface.description }}
ip address {{ interface.address }} {{ interface.netmask }}
ip ospf 1 area {{ interface.ospf_area_id }}
no sh
{% endfor %}

{% for interface in item.SVI_interfaces %}
{{ interface.interface_id }}
interface {{ interface.interface_id }}
description {{ interface.description }}
ip address {{ interface.address }} {{ interface.netmask }}
ip ospf 1 area {{ interface.ospf_area_id }}
no sh

{% endfor %}

{% for interface in item.access_interfaces %}
interface {{ interface.interface_id }}
switchport mode access
switchport access {{ interface.vlan_id }}
no sh

{% endfor %}

{% for interface in item.trunk_interface %}
interface {{ interface }}
switchport trunk encapsulation dot1q
switchport mode trunk
no sh

{% endfor %}

