hostname {{ item.hostname }}

{% for interface in item.interfaces %}
interface {{ interface.interface_id }}
description {{ interface.description }}
ip address {{ interface.address }} {{ interface.netmask }}
ip ospf 1 area {{ interface.ospf_area_id }}
no sh

{% endfor %}

